*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

/* header Css  */

a.navbar-brand img {
    width: 60px;
}
header#siteheader .bg-light {
    background-color: #0c0f7a!important;
}
header#siteheader ul.navbar-nav li.nav-item a {
    color: #fff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
header#siteheader ul.navbar-nav li.nav-item {
    margin: 0 22px;
}


/* Hero Banner  */
section#Hero_banner {
  height: 700px;
  background: url("/img/home-one-testimonial-2.jpg");
  background-position: center;
  background-size: cover;
}
section#Hero_banner .row {
  display: flex;
  align-items: center;
}
.hero_img img {
  margin-top: 80px;
}
.hero_content h1 {
  font-size: 58px;
  line-height: 60px;
  color: #231F40;
  font-weight: 900;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  margin-top: 80px;
}
.hero_content p {
  font-size: 20px;
  font-weight: 400;
  font-family: roboto;
  line-height: 1.67;
  color: #6F6B80;
}
.hero_content a {
  font-size: 20px;
  background: #525FE1;
  padding: 14px 30px;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 12px;
  display: inline-block;
}

/* value propostion section css  */
section#Value_propostion {
  padding: 100px 0;
}
h2.two_Color.text-center {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
  font-family: 'Urbanist', sans-serif;
  position: relative;
}
h2 span {
  line-height: 26px;
  color: #525FE1;
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: .1em;
}
h2:after {
  content: "";
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #525fe1;
  left: 48%;
  top: 115%;
}
section#Value_propostion h2:before {
  content: "";
  position: absolute;
  background: url(img/shape-02-2.png);
  width: 200px;
  height: 100%;
  left: 24%;
  top: -44%;
  background-repeat: no-repeat;
}

p.paragraph_value{
  font-size: 20px;
  font-weight: 400;
  font-family: roboto;
  line-height: 1.67;
  color: #6F6B80;
}

/* Why Choose Us */
section#why_choose_us {
  background: url(img/home-one-instructor-2.jpg);
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-title .pre-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: .1em;
  font-family: 'Urbanist', sans-serif;
}
.section-title .title {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.4;
  font-family: 'Urbanist', sans-serif;
  position: relative;
}

/* *****************8section#Provide_trustseal *************************/
section#Provide_trustseal {
  background: url(img/home-three-testimonial-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
  position: relative;
}
h2.two_Color {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
  font-family: 'Urbanist', sans-serif;
  position: relative;
}
section#Provide_trustseal:before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border: 40px solid rgb(227 35 35 / 11%);
  border-radius: 50%;
  left: -129px;
  top: -149px;
}

/* *********section#Popular_Products ************/

section#Popular_Products {
  padding: 100px 0;
}

section#Provide_trustseal .owl-carousel.owl-theme {
  padding: 70px 0px 40px;
}


/* **********Products slider  ***************/

.products_card {
  border: 3px solid #fcf6f8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.products_card p {
  color: #231F40;
  font-weight: 600;
  font-size: 22px;
  border-top: 2px solid #525fe170;
  padding-top: 10px;
  font-family: 'Urbanist', sans-serif;
}

/********** Accordian css Start **************/
section#why_choose_us .row {
  display: flex;
}
section#why_choose_us .card_importers {
  height: 100%;
}
section#why_choose_us h3.title {
  margin-bottom: 40px;
}
section#why_choose_us .card_importers p {
  color: rgb(35, 31, 64);
  font-size: 20px;
  font-family: Urbanist, sans-serif;
}
section#why_choose_us h4.cars_title {
  color: #525fe1;
  font-size: 22px;
}
section#why_choose_us .card_importers:hover {
  background: linear-gradient(rgb(14 8 2) 0%, rgb(58 11 163) 100%);
  transition: all 0.6s ease 0s;
  cursor: pointer;
}
section#why_choose_us .card_importers:hover p{
  color: #ffffff;
}
/* ************section#Why_importers_should *****************/

section#Why_importers_should {
  background: url(img/home-one-testimonial-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  position: relative;
}
section#Why_importers_should h2.two_Color.text-center {
  margin-bottom: 60px;
}
section#Why_importers_should .card_importers {
  height: 100%;
}
.mb-pixle {
  margin-bottom: 25px;
}
.card_importers {
  box-shadow: 0 10px 30px rgb(0 0 0 / 6%);
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 25px;
}
span.card_number {
  width: 55px;
  height: 55px;
  display: block;
  background: #525fe1;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-family: 'Urbanist', sans-serif;
  font-weight: 900;
  font-size: 30px;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgb(0 0 0 / 6%);
  margin-bottom: 22px;
}
h4.cars_title {
  margin-bottom: 20px;
  color: #231F40;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.4;
  font-family: 'Urbanist', sans-serif;
}
section#Why_importers_should .card_importers p {
  font-size: 19px;
  font-weight: normal;
  line-height: 1.6em;
  font-family: 'Roboto', sans-serif;
}


/* Cta css start */
section#call_to_action {
  background:#fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  position: relative;
}
section#call_to_action span.pre-title{
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: #525fe1;
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: .1em;
  font-family: 'Urbanist', sans-serif;
}
h3.title.text-center {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 900;
  color: #231F40;
  font-family: 'Lato', sans-serif;
}
.form_cta input#exampleInputEmail1 {
  background: #fff;
  height: 64px;
  background-color: #FFFFFF;
  padding: 13px 12px 13px 52px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border: 2px solid #525fe182;
  margin-top: 30px;
}
input#exampleInputEmail1 {
  color: #525fe1;
  font-weight: 500;
  font-size: 22px;
  font-family: 'Urbanist', sans-serif;
}

form#cta_form {
  position: relative;
}
form#cta_form button.btn.btn-primary {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 29px 12px 29px;
  border-radius: 5px 5px 5px 5px;
}

section#call_to_action:before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border: 40px solid rgb(227 35 35 / 11%);
  border-radius: 50%;
  left: -129px;
  top: -149px;
}


@media only screen and (max-width: 1024px){
  .hero_content h1 {
    font-size: 42px;
}
}
@media only screen and (max-width: 768px){
  .hero_img img {
    width: 500px;
  }
  section#Hero_banner {
    height: 100%;
    padding: 0 0 50px 0;
}
  section#Hero_banner .row {
    flex-direction: column-reverse;
    text-align: center;
}
section#Provide_trustseal:before {
  height: 250px;
  width: 250px;
  left: -129px;
  top: -121px;
}
footer#sitefooter .row {
  display: inherit;
}
button.navbar-toggler i.fa.fa-bars {
  color: #fff;
  font-size: 45px;
  font-weight: 300;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

header#siteheader .navbar-collapse{
  display: block;
  width: 350px;
  background-color:  #525fe1;
  position: fixed;
  left: -350px;
  top: 0px;
  bottom: 0;
  transition: ease-in-out 0.8s;
  height: 100%;
  z-index:10; }	
  header#siteheader .navbar-collapse.collapse.show{left: 0px;}

ul.navbar-nav li.nav-item {
  text-align: left;
  padding: 36px 15px 3px 51px;
}
header#siteheader ul.navbar-nav li.nav-item a {
  color: #fff;
  font-size: 27px;
  font-family: 'Lato', sans-serif;
}
}

@media only screen and (max-width: 600px){
.hero_img img {
  width: 300px;
}
a.navbar-brand img {
  width: 36px;
}
button.navbar-toggler i.fa.fa-bars {
  font-size: 28px;
}
header#siteheader ul.navbar-nav li.nav-item a {
  font-size: 22px;
}
.hero_content h1 {
  font-size: 35px;
  line-height: 45px;
  margin-top: 32px;
}
h2.two_Color.text-center {
  font-size: 24px;
}
section#Value_propostion h2:before {
  height: 100%;
  left: 8%;
  top: -86%;
}
.client_logo img {
  width: 200px !important;
  margin: 0 auto;
}
h2:after {
  left: 39%;
}
section#Provide_trustseal .owl-carousel.owl-theme {
  padding: 31px 0px 9px;
}
section#Popular_Products {
  padding: 60px 0;
}
.section-title .title {
  font-size: 32px;
}
h4.cars_title {
  font-size: 22px;
}
h3.title.text-center {
  font-size: 28px;
}
form#cta_form button.btn.btn-primary {
  font-size: 13px;
  padding: 15px 18px 15px 18px;
}
}