*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

/* header Css  */

a.navbar-brand img {
    width: 60px;
}
header#siteheader .bg-light {
    background-color: #0c0f7a!important;
}
header#siteheader ul.navbar-nav li.nav-item a {
    color: #fff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
header#siteheader ul.navbar-nav li.nav-item {
    margin: 0 22px;
}


/* Hero Banner  */
section#Hero_banner {
  height: 700px;
  background: url("/img/home-one-testimonial-2.jpg");
  background-position: center;
  background-size: cover;
}
section#Hero_banner .row {
  display: flex;
  align-items: center;
}
.hero_img img {
  margin-top: 80px;
}
.hero_content h1 {
  font-size: 58px;
  line-height: 60px;
  color: #231F40;
  font-weight: 900;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  margin-top: 80px;
}
.hero_content p {
  font-size: 20px;
  font-weight: 400;
  font-family: roboto;
  line-height: 1.67;
  color: #6F6B80;
}
.hero_content a {
  font-size: 20px;
  background: #525FE1;
  padding: 14px 30px;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 12px;
  display: inline-block;
}

/* value propostion section css  */
section#Value_propostion {
  padding: 100px 0;
}
h2.two_Color.text-center {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
  font-family: 'Urbanist', sans-serif;
  position: relative;
}
h2 span {
  line-height: 26px;
  color: #525FE1;
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: .1em;
}
h2:after {
  content: "";
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #525fe1;
  left: 48%;
  top: 115%;
}
section#Value_propostion h2:before {
  content: "";
  position: absolute;
  background: url(img/shape-02-2.png);
  width: 200px;
  height: 100%;
  left: 24%;
  top: -44%;
  background-repeat: no-repeat;
}

p.paragraph_value{
  font-size: 20px;
  font-weight: 400;
  font-family: roboto;
  line-height: 1.67;
  color: #6F6B80;
}

/* Why Choose Us */
section#why_choose_us {
  background: url(img/home-one-instructor-2.jpg);
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-title .pre-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: .1em;
  font-family: 'Urbanist', sans-serif;
}
.section-title .title {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 55px;
  font-weight: 900;
  line-height: 1.4;
  font-family: 'Urbanist', sans-serif;
  position: relative;
}

/* *****************8section#Provide_trustseal *************************/
section#Provide_trustseal {
  background: url(img/home-three-testimonial-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
  position: relative;
}
h2.two_Color {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.4;
  font-family: 'Urbanist', sans-serif;
  position: relative;
}
section#Provide_trustseal:before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border: 40px solid rgb(227 35 35 / 11%);
  border-radius: 50%;
  left: -129px;
  top: -149px;
}

/* *********section#Popular_Products ************/

section#Popular_Products {
  padding: 100px 0;
}

section#Provide_trustseal .owl-carousel.owl-theme {
  padding: 70px 0px 40px;
}


/* **********Products slider  ***************/

.products_card {
  border: 3px solid #fcf6f8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.products_card p {
  color: #231F40;
  font-weight: 600;
  font-size: 22px;
  border-top: 2px solid #525fe170;
  padding-top: 10px;
  font-family: 'Urbanist', sans-serif;
}

/********** Accordian css Start **************/
section#why_choose_us .row {
  display: flex;
  align-items: center;
}

.accordion .item .item-name {
  color: #525fe1;
  font-weight: 600;
  font-size: 22px;
  border-top: 2px solid #525fe170;
  font-family: 'Urbanist', sans-serif;
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  border: 0;
}
.desc li {
  color: #231F40;;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
*:focus {
  outline: medium none !important;
}


.accordion {
  background: #FFF;
  border: 1px solid #CCC;
}


.accordion .item {
  position: relative;
  overflow: hidden;
}



.accordion .item .desc {
  margin: 0px;
  opacity: 0;
  max-height: 0px;
  padding: 5px 10px;
  font-size: 15px;
  border-bottom: 1px solid #E6E6E6;
  transition: all 0.5s ease-in-out 0s;
}

.accordion .item .item-name:hover ~ .desc, .accordion .item .desc:hover {
  opacity: 1;
  max-height: 500px;
  transition: all 1s ease-in-out 0s;
}
.accordion .item:hover > .item-name {
  border-bottom: transparent;
}
.accordion .item:last-child > .item-name, .accordion .item:last-child > .desc {
  border-bottom: transparent;
}

/* ************section#Why_importers_should *****************/

section#Why_importers_should {
  background: url(img/home-one-testimonial-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  position: relative;
}
section#Why_importers_should h2.two_Color.text-center {
  margin-bottom: 60px;
}
section#Why_importers_should .card_importers {
  height: 100%;
}
.mb-pixle {
  margin-bottom: 25px;
}
.card_importers {
  box-shadow: 0 10px 30px rgb(0 0 0 / 6%);
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 25px;
}
span.card_number {
  width: 55px;
  height: 55px;
  display: block;
  background: #525fe1;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-family: 'Urbanist', sans-serif;
  font-weight: 900;
  font-size: 30px;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgb(0 0 0 / 6%);
  margin-bottom: 22px;
}
h4.cars_title {
  margin-bottom: 20px;
  color: #231F40;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.4;
  font-family: 'Urbanist', sans-serif;
}
section#Why_importers_should .card_importers p {
  font-size: 19px;
  font-weight: normal;
  line-height: 1.6em;
  font-family: 'Roboto', sans-serif;
}


/* Cta css start */
section#call_to_action {
  background: url(img/home-two-cta-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0;
  position: relative;
}